/***********
Main Styles
***********/
body {
    background-image: url("Parchment_paper.jpg");
    background-color: white;
    font-family: "lora-regular", serif;
}

section {
    text-align: center;
    background-color: #0B0C10;
    padding: 30px 15px;
    margin: 15px 50px;
    border: 2px solid #66fcf1;
}

h1, h3 {
    color: #66fcf1;
    padding: 0px 15px;
    font-family: "poppins-semibold", sans-serif;
    text-align: center;
}

p {
    color: #c5c6c7;
    padding: 0px 15px;
    text-align: center; 
}

footer {
    background-color: #0B0C10;
    width: auto;
    padding: 15px;
}

footer p {
    color: #66fcf1;
}

#about {
    margin: 60px 50px 15px;
}

.title {
    color: #66fcf1;
    padding: 0px 15px;
    font-family: "poppins-semibold", sans-serif;
    text-align: center;
}

.info {
    color: #66fcf1;
    padding: 0px 15px;
    text-align: center;
}

.description, .content {
    color: #c5c6c7;
    padding: 0px 15px;
    text-align: center;
}

.pic {
    width: 150px;
    padding: 15px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-img {
    width: 55px;
    height: 45px;
}

.social-img:hover {
    opacity: 0.5;
}

img[alt~="Facebook"],
img[alt~="Twitter"],
img[alt~="Twitch"] {
    color: #c5c6c7;
}

/**************
Navigation
**************/
.navbar {
    overflow: hidden;
    background-color: #0B0C10;
    position: fixed;
    width: 100%;
    top: 0px;
}

/* navbar links */
.navbar a {
    color: #66fcf1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* hamburger square */
.navbar a.hamburger {
    background: #0B0C10;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: #1f2833;
    color: #45a29e;
}

.current {
    background-color: #0B0C10;
    color: #66fcf1;
}

i {
    color: #66fcf1;
}

.show {
    display: none;
}



/**************
Contact Us Form
**************/
form {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
}
  
.contact-title {
    margin: 0 0 30px 0;
    text-align: center;
    color: #66fcf1;
}

a:hover, a:focus, a:active {
	color: #45a29e;
	outline: 0;
}

/* input fields css */
input[type="text"],
input[type="email"],
textarea {
    background: #0b0c10;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 75%;
    border: 1px solid #c5c6c7;
    background-color: #0b0c10;
    color: #c5c6c7;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

/* Autofill coloring */
input[type="text"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
textarea:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #c5c6c7;
}

/* submit button css */
.sub-button {
    padding: 19px 39px 18px 39px;
    color: #c5c6c7;
    background-color: #0b0c10;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 77%;
    border: 1px solid #66fcf1;
    border-width: 1px 1px 1px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

.sub-button:hover {
    background-color: #1f2833;
    border: 1px solid #45a29e;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #66fcf1;
}

#contact {
    margin: 15px 0px;
}

/***************
Media Queries
***************/

@media only screen and (min-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }  
    
    .show {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        
    .navbar #mainNav {
        display: flex;
    }
    
    .navbar a.hamburger {
        display: none;
    }

    .pic {
        width: 250px;
        padding: 15px;
    }
}

@media only screen and (min-width: 813px) {
    .aboutsec {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-content: center;
    }

    .info, .title, .description, .content {
        text-align: left;
    }

    #contact {
        margin: 15px 50px;
    }

}

@media only screen and (min-width: 1188px) {
    section {
        margin: 15px 20vw;
    }

    #contact {
        margin: 15px 20vw;
    }

    #about {
        margin: 60px 20vw 15px;
    }
}