body {
    background-color: #0B0C10;
}


h1 {
    color: #c5c6c7;
    width: 75%;
    padding-left: 15px;
}

h3 {
    color: #66fcf1;
    width: 75%;
    padding-left: 15px;
}

.title {
    color: #45a29e;
    width: 75%;
    padding-left: 15px;
}

.info {
    color: #c5c6c7;
    width: 75%;
    padding-left: 15px;
}

.description {
    color: #c5c6c7;
    width: 75%;
    padding-left: 15px;
}

p {
    color: #66fcf1;
    width: 75%;
    padding-left: 15px; 
}

img {
    width: 150px;
    display: fixed;
    float: right;
    clear: left;
    padding: 15px;
}

img[alt~="Facebook"],
img[alt~="Twitter"],
img[alt~="Twitch"] {
    color: #c5c6c7;
}

/**************
Navigation
**************/
.navbar {
    overflow: hidden;
    background-color: #0B0C10;
    position: fixed;
    width: 100%;
    top: 0px;
}

.navbar #mainNav {
    display: none;
}

.navbar a {
    color: #66fcf1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.hamburger {
    background: #0B0C10;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: #1f2833;
    color: #45a29e;
}

.current {
    background-color: #0B0C10;
    color: #66fcf1;
}

i {
    color: #66fcf1;
}



/**************
Contact Us Form
**************/
form {
    max-width: 75%;
    margin: 10px auto;
    padding: 10px 20px;
    /*background: white;*/
    border-radius: 8px;
}
  
.contact-title {
    margin: 0 0 30px 0;
    text-align: center;
    width: 75%;
    color: #66fcf1;
}

a:hover, a:focus, a:active {
	color: #45a29e;
	outline: 0;
}

/* input fields css */
input[type="text"],
input[type="email"],
textarea {
    background: #0b0c10;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 75%;
    border: 1px solid #c5c6c7;
    background-color: #0b0c10;
    color: #c5c6c7;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="text"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
textarea:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    /* box-shadow: 0 0 0px 1000px #1f2833; */
    -webkit-text-fill-color: #c5c6c7;
}

/* submit button css */
.sub-button {
    padding: 19px 39px 18px 39px;
    color: #c5c6c7;
    background-color: #0b0c10;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 77%;
    border: 1px solid #66fcf1;
    border-width: 1px 1px 1px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

.sub-button:hover {
    background-color: #1f2833;
    border: 1px solid #45a29e;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #66fcf1;
}