/**************
Contact Us Form
**************/
form {
    max-width: 95%;
    margin: 10px auto;
    padding: 10px 20px;
    /*background: white;*/
    border-radius: 8px;
}
  
h2 {
    margin: 0 0 30px 0;
    text-align: center;
}
a, a:visited {
	color: #000000;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus, a:active {
	color: #FF0077;
	outline: 0;
}

/* input fields css */
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 93%;
    background-color: white;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

/* submit button css */
.sub-button {
    padding: 19px 39px 18px 39px;
    color: black;
    background-color: white;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #333333;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}